In [7]:
import pandas as pd

In [9]:
courses = pd.read_csv("courses.csv")
courses
# registration.csv
# role.csv
# staff.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 2453: invalid start byte

In [10]:
registration = pd.read_csv("registration.csv")
registration

     Reg_ID Course_ID  Staff_ID  Reg_Status Completion_Status
0         1    COR002    130001  Registered         Completed
1       245    COR001    130001  Registered         Completed
2         2    COR002    130002  Registered         Completed
3         3    COR002    140001  Registered         Completed
4       111    SAL004    140001  Registered         Completed
..      ...       ...       ...         ...               ...
374     369    FIN003    160258  Registered               NaN
375     108    COR002    160282    Waitlist               NaN
376     188    MGT001    160282    Waitlist               NaN
377     236    tch002    160282  Registered         Completed
378     370    HRD001    160282    Waitlist               NaN

[379 rows x 5 columns]

In [12]:
role = pd.read_csv("role.csv")
role

ParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 3

In [11]:
staff = pd.read_csv("staff.csv")
staff

,Staff_ID,Staff_FName,Staff_LName,Dept,Email,Role
0,130001,John,Sim,Chariman,jack.sim@allinone.com.sg,1
1,130002,Jack,Sim,CEO,jack.sim@allinone.com.sg,1
2,140001,Derek,Tan,Sales,Derek.Tan@allinone.com.sg,3
3,140002,Susan,Goh,Sales,Susan.Goh@allinone.com.sg,2
4,140003,Janice,Chan,Sales,Janice.Chan@allinone.com.sg,2
...,...,...,...,...,...,...
138,170238,Jackson,Chan,Finance,Jackson.Chan@allinone.com.sg,2
139,170245,Aiden,Teo,Finance,Aiden.Teo@allinone.com.sg,2
140,170655,Samuel,Lee,Finance,Samuel.Lee@allinone.com.sg,2
141,170866,Susan,Lim,Finance,Susan.Lim@allinone.com.sg,2
142,171008,Janice,Heng,Finance,Janice.Heng@allinone.com.sg,2